@import "tailwindcss";

:root,
[data-theme="light"] {
  --background: #ffffff;
  

  --primary-blue: #3b82f6;
  --light-blue: #93c5fd;
  --dark-blue: #1d4ed8;
}

[data-theme="dark"] {
  --background: #000000;
  --foreground: #ffffff;
  --primary-blue: #2563eb;
  --light-blue: #3b82f6;
  --dark-blue: #1e3a8a;
}

body {
  background: var(--background) !important;
  color: var(--foreground);
}

.text-hover-light-blue:hover {
  color: var(--light-blue);
}
